<!DOCTYPE html>
<html lang="pt-br">

<!--body construção bootstrap estrutura-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/aba.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Portifólio</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header" data-anime="left">
        <section class="profile">
            <img src="../static/img/PhotoRoom-20220705_115212.png" alt="Foto do Daniel">
            <h1>DANIEL SANTOS</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.instagram.com/danyellinns/" target="_blank" title="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <!--<a href="https://www.facebook.com/Danyel.wingchun/" target="_blank" title="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>-->
                <a href="https://www.linkedin.com/in/daniel-santos-578992162/" target="_blank" title="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=5582999960115" target="_blank" title="Whatsapp">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a href="https://github.com/DanyelSan" target="_blank" title="GitHub">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item" title="Inicio">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                    aria-hidden="true" title="Inicio"></i> Inicio</a>
                </li>
                <li class="nav-item" title="Sobre">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"
                    aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item" title="Habilidades">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"
                    aria-hidden="true"></i> Habilidades</a>
                </li>
                <li class="nav-item" title="Currículo">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"
                    aria-hidden="true"></i> Currículo</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"
                    aria-hidden="true"></i> Portifólio</a>
                </li>-->
                <li class="nav-item" title="Contato">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"
                    aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <!--pagina "inicio" do portifolio-->
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Daniel Santos</h2>
                <span id="subtitle" class="text-white
          text-shadow">Analista Comercial e Analista de Sistema.</span>
            </div>

            <div class="row-col-mh2 p-1 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-black pe-2 fs-8" aria-hidden="true"></i>
                    <a href="#sobre">Arraste Para Mais</a>

                </div>

            </div>

        </section>

        <!--pagina "sobre" do portifolio -c/texto-->
        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Eu acredito no poder da educação como um grande transformando de realidade, isso porque eu tive a oportunidade de me forma no curso de progração de PYTHON, HTML, CSS, JS. isso mudou a minha realidade social e ecomônica, me gerando
                        recursos para estudar ainda mais. A partir disso fui encorajado a iniciar trabalhos na área da programação, e por isso realizei um grande sonho e conquista. desenvolvendo web fullstack em diversas liguagens, essa é minha vocação,
                        influenciar e motivar pessoas do mesmo!</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/eu perfil.jpg" alt="Foto Do Daniel" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Analista Comercial</h3>
                    <p>Na carreira profissional me empenhei na área de Analista Comercial, analisando tendência, estratégias, à procura de melhores opotunidades de negócios, estando sempre procurando em encontrar novos caminhos para empresa. Elabora projeções
                        de vendas e relatorios de tendência mercadológicas para subsidir informações à genrência na tomada de decições. Desenvolvendo orçamentos e presta suporte á equipe de vendas, dando-lhe esclarecimentos de duvidas e serviços.</p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-lighter">16 de Janeiro de 
                                        2000</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">23 Anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Maceió</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Alagoas</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Musicista</span>
                                </li>
                                <li class="list-group-item">
                                    Escolaridade: <span class="fw-lighter">Ensino Médio
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    Cursos: <span class="fw-lighter">Python, Html, Css, Js, SQL.
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    Profissão: <span class="fw-lighter">Analista de Comercial                                     
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <p>Alem de mim profissionalizar na área Comercial. Hoje atuo na área de análise de sistema e dados. Sendo assim responsavel pelo controle de Dados de custos empresarial.</p>

                </div>
            </div>
        </section>

        <!--pagina "habilidades" do portifolio com todos historico-->
        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cadas delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" data-anime="left" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" data-anime="left" aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" data-anime="left" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" data-anime="left" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-3 mb-0">PHP</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" data-anime="left" aria-valuemin="0" aria-valuemax="100">10%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" data-anime="left" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Dash</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" data-anime="left" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Pygame</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Kyvi</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 19%;" aria-valuenow="19" data-anime="left" aria-valuemin="0" aria-valuemax="100">19%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação e Detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 91%;" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">91%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 99%;" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">99%</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            </div>

        </section>

        <!--pagina "curriculo" do portifolio master-->
        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Python Completo</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>DANKI CODE</em></p>
                            <p>Formação completa de conhecimento PYTHON, Modulos Completo. Variáveis e tipo de dados.
                                Estrutura logística e condicionais.
                                Estrutura de repetição.
                                Listas, Tuplas, Dicionários, Sets.
                                Funções.
                                Bibliotecas - Pygame, Panda, Dash, Flash, Django.
                                Manipulação de arquivos.
                                Orientação a Objetos.
                                Ambiente Virtual.
                                Desenvolvimento Web.
                                HTTP - HTTPS - URL - URI.
                                HTML - CSS. Com carga horária de 320 Horas</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Data Science - Dash Interativos c/ Python</h4>
                            <h5>2022 - 2022</h5>
                            <p><em>ASIMOV ACADEMY</em></p>
                            <p>Dashboard Interativos com ferramentas principais de data science: 
                                Python, Html, Css, Java Script, Anaconda, SQL, Plotly, Pandas, Dash, Flask e Django. Com carga horária 120 Horas</p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Banco de Dados e SQL Completo</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>UDEMY</em></p>
                            <p>Business Intelligence, CHAR E VARCHAR
                                ENUM
                                Arquitetura de software.
                                Operadoes lógicos.
                                DML.
                                DDL.
                                Oracle.
                                SQL Server.
                                mySQL.
                                BIG DATA.
                                T-SQL.
                                PLSQL.
                                Business Intelligence.
                                DBA.
                                Query. SQL Server, MySQL!. Com carga horárioa de 530 Horas</p>
                        </div>

                    </div>

                    <div class="col-md-6" data-anime="up">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h4>Embalar Distribuidora</h4>
                            <h5>2020 - 2021</h5>
                            <p><em>ADMINISTRADOR</em></p>
                            <p>Criação de Dashboard's, Acompanhamento de metas, Lançamento de metas, Acompanhamento de vendedores, Criação de reuniões</p>

                        </div>

                        <div class="cv-item">
                            <h4>Embalar Distribuidora</h4>
                            <H5>2021 - 2022</H5>
                            <p><em>ASSISTENTE DE LOGÍSTICA</em></p>
                            <p>Responsável pelo sistema de acompanhamento de gestão de entregas. (FUSION DMS). Acompanhamento em tempo real de Frota, Criação de relatório de custo de Rota, Praça, Despesa, Combustível e Jornada de Trabalho de Motorista e Ajudantes. Acompanhamento de Roteirização de Frota e Rotas, Geocodificação de clientes, Monitoramento de Entregas, Rota, Carga, Frota e Romaneios.</p>

                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Embalar Distribuidora</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>ANALISTA COMERCIAL</em></p>
                            <p>Criação de Dashboard's em Excel.
                                Criação de Dashboard's em Power BI.
                                Criacao de Dashboard's em python (Pandas, Sql, Dash, flesk, html, css, js, plotly).
                                Criação de relatórios (Excel e SQL).
                                Criação de campanhas.
                                Criação de mecânicas.
                                Criação de relatórios com Projeção Anual.
                                Criação e lançamentos de METAS e acompanhamento do mesmo.
                                Criação de reuniões.
                                Lançamento e direcionamento de verbas para PDV, CMV e Campanhas.
                                Análise de Vencimento de produtor para giro de vendas.
                                Acompanhamento e monitoramento de vendedores.
                                Acompanhamento de promotores.
                                Acompanhamento de técnicos de produção.
                                Acompanhamento de desempenho de Clientes.
                                Acompanhamento de desempenho de produtos.
                                Acompanhamento de desempenho de vendedores.
                                Acompanhamento de desempenho de supervisores.
                                Acompanhamento de desempenho da empresa.
                                Acompanhamento de desempenho de vendas.</p>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <!--pagina em desenvolvimento "portifolio"-->
        <!--<section class="section-bg mt-5" id="portifolio">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Potifólio</h2>

                <div id="carouselportifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselportifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselportifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                  <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">

                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselportifolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselportifolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>-->

        <!--pagina "contato" do portifolio email/descricao-->
        <section class="pt-5 pb-5 section-bg" id="contato">

            <div class="container mb-5">
                <h2 classes="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Maceió-AL</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>Danyelsan.silva@outlook.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.6002103994365!2d-35.7607932858697!3d-9.543419002981286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x70137e1c0adc205%3A0x4b848383360b823c!2sRua%20Senador%20Arnon%20de%20Melo%20-%20Village%20Campestre%2C%20Macei%C3%B3%20-%20AL!5e0!3m2!1spt-BR!2sbr!4v1645282036667!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow borde-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-outline-primary">Enviar</button>

                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Enviando...
                                      </button>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>

        </section>

        <!--classificação de alerta obtida pelo envio do e-mail-->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyrigth <strong>Danyel</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>